<section id="banner">
  <div class ="wrapper">
<!-- <%= link_to root_path do %>
        <%= image_tag "fondotierra.jpg", :style => "width: 180px; max-width: 100%;" %>
        <% end %> 
-->
 <header class="header">

 
    <!--<p id="logo"> Tierra Producciones</p> -->
    <div class="logotierra">
    <%= link_to root_path do %>
        <%= image_tag "logotierranuevoreal.png", :style => "width: 180px; max-width: 100%;" %>
        <% end %> 
    </div>

<% if controller_name == 'posts_controller' %>
   <nav>
   <ul>
    <li><a  href="<%= pages_index_path(:anchor => "home") %>" class="button_small">Home</a></li>
    <li><a  href="<%= pages_index_path(:anchor => "services") %>" class="button_small">Servicios</a></li>
    <li><a  href="<%= pages_index_path(:anchor => "past-work") %>" class="button_small">Nuestra experiencia</a></li>
    <li><a  href="<%= pages_index_path(:anchor => "portafolio") %>" class="button_small">Últimos eventos</a></li>
    <li><a  href="<%= pages_index_path(:anchor => "contact") %>" class="button_small">Contacto</a>
   </ul></li>
   </ul>
  </nav>
  <% else %>
  <nav>
    <a href="#" class="button_small">Home</a>
    <a href="#services" class="button_small">Servicios</a>
    <a href="#past-work" class="button_small">Nuestra experiencia</a>
    <a href="#portafolio" class="button_small">Últimos eventos</a>
    <a href="#contact" class="button button_secondary button_small">Contacto</a>
  </nav>
<% end %>
  </header>
  <div class="content">
    
      <h1 class="title">Líder en Producción y Organización de Eventos</h1>
      <h2 class="sub-title">12 años al servicio del norte grande </h2>
      <div class="button-wrapper">
      <a href="#" class="button button_highlight">Play video</a>
      <a href="#" class="button button_secondary">Go tierra</a>


    </div>

  </div>
  </div>
  </section>