

<div class="menu_bar">

     <span class="glyphicon glyphicon-list"  style="top: 50px; float: right; right: 12px;" aria-hidden="true"></span>
    <a href="#" class="bt-menu" class="img-responsive"><%= image_tag "logotierranuevoreal.png", :style => "width: 160px; max-width: 100%; float: left;" %>
         </a>
     
  </div>
  
   <header class="header">

   <!--<p id="logo"> Tierra Producciones</p> --> 
    <div class="logotierrita">
  <%= image_tag "logotierranuevoreal.png", :style => "width: 160px; position: relative; max-width: 100%; left: 60px; top: 21px; " %>
   </div>
          
<% if controller_name == 'posts_controller' %>
   
  <nav>
     <ul>

      <li><a  href="<%= pages_index_path(:anchor => "home") %>" class="button_small">Home</a></li>
      <li><a  href="<%= pages_index_path(:anchor => "services") %>" class="button_small">Nosotros</a></li>
      <li><a  href="<%= pages_index_path(:anchor => "past-work") %>" class="button_small">Nuestra experiencia</a></li>
      <li><a  href="<%= pages_index_path(:anchor => "portafolio") %>" class="button_small">Últimos eventos</a></li>
      <li><a  href="<%= pages_index_path(:anchor => "contact") %>" class="button_small button_secondary">Contacto</a></li>
    </ul>
  </nav>
  <% else %>
   
  <nav>
    
      <ul>
        <li><a href="#" class="button button_small">Home</a></li>
        <li><a href="#services" class="button button_small">Nosotros</a></li>
        <li><a href="#past-work" class="button button_small">Nuestra experiencia</a></li>
        <li><a href="#portafolio" class="button button_small">Últimos eventos</a></li>
        <li><a href="#contact" class="button button_small button_highlight ">Contacto</a></li>
      </ul>
  </nav>

  </header>
 
<% end %>
<section id="banner">
    <div class="wrapper">
      <div class="content">
          <h1 class="title"><superbold>Líder en Producción y Organización de Eventos</superbold></h1>
          <h2 class="sub-title"><bold>12 años al servicio del norte grande <bold></h2>
          <div class="button-wrapper">
          <div class="row" role="group" >
          <a href="#" class=".col-xs-6 .col-sm-3  button button_highlight btn-responsive">Play video</a> <br><br><br>
          <a href="#" class=".col-xs-6 .col-sm-3  button button_secondary btn-responsive">Go tierra</a>
        </div>
        <br>
      </div>
      <!--
      <a href="#portafolio" class="bt-menu" class="img-responsive">
      <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
      </a> -->
  <a href="#portafolio" class="bt-menu" class="img-responsive"><%= image_tag "flechitablanca.png", :style => "width: 50px; max-width: 100%;  display: block; margin: 0 auto; " %>
         </a>
      </div>
    </div>
   </section>














