
<section id="album">
    <div class="container">
   <div class="content">
   <br><br><br><br><br> 
   <h2 class="title" style="   color: #333333;
   font-family: 'Roboto', sans-serif;
   font-size: 3.5rem;
   letter-spacing: 1px;">Servicios tierra</h2>
        <!-- <h2>Lily</h2> -->
        <br>
        <div class="grid">
          <figure class="effect-lily">
                <%= image_tag "carpas.jpg"%>
            <figcaption>
              <div>
                <h1><span>Logística</span></h1>
                <p>Carpas Toldos y espacios</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-lily">
            <%= image_tag "6.jpg" %>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">Ver mas</a>
            </figcaption>     
          </figure>
        </div>
        <h2>Ceim</h2>
        <div class="grid">
          <figure class="effect-lily">
             <%= image_tag "señorawork.jpg" %>
            <figcaption>
              <h2>Empresa <span>CEIM</span></h2>
              <p>Inauguración de camiones <br>21 Junio, Antofagasta 2015</p>
              <a href="#">Ver más</a>
            </figcaption>     
          </figure>
          <figure class="effect-lily">
             <%= image_tag "señoragrua.jpg" %>
            <figcaption>
              <h2>Empresa <span>CEIM</span></h2>
              <p>Inauguración de camiones <br>21 Junio, Antofagasta 2015</p>
              <a href="#">Ver más</a>
            </figcaption>     
          </figure>
        </div>
        <h2>Honey</h2>
        <div class="grid">
          <figure class="effect-honey">
              <%= image_tag "1.jpg" %>
            <figcaption>
              <h2>Dreamy <span>Honey</span> <i>Now</i></h2>
              <a href="#">Ver más</a>
            </figcaption>     
          </figure>
          <figure class="effect-sadie">
              <%= image_tag "14.jpg" %>
            <figcaption>
              <h2>Dreamy <span>Sadie</span> <i>Now</i></h2>
              <a href="#">Ver más</a>
            </figcaption>     
          </figure>
        </div>
        </div>
        </div>
        </section>
