 <section id="services" class="cf">
 <h2 class="title">Servicios</h2>
    <div class="wrapper">

    
    <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4" >
            <br><h3>Misión</h3> <br>
            <p>haskjdisjidsjidjsakdejhebeaaaaaaaaaas</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <p>beweroooolaaaaaestoooesuunaaaaaaa</p>
            <p> Estamos en construcciónaaaaaaaaa</p>
            <a href="#" class="button button_highlight button_small">Sepa más</a><br><br>
            
          </div>
          <div class="col-md-4">
            <br><h3>Visión</h3> <br>
            <p>haskjdisjidsjidjsakdejhebeaaaaaaaaaas</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <a href="#" class="button button_highlight button_small">Sepa más</a><br><br>
            
          </div>
          <div class="col-md-4">
            <br><h3>Valores</h3> <br>
            <p>haskjdisjidsjidjsakdejhebeaaaaaaaaaas</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <p>bebehoooolaaaaaestoooesuunaaaaaaa</p>
            <p> Estamos en construcciónaaaaaaaaa</p>
            <a href="#" class="button button_highlight button_small">Sepa más</a><br>
          
          </div>
        </div>
      </div>
      </div>
      </section>
      
      

    <section id="past-work">
    <div class="wrapper">
      <h2 class="title">Nuestra experiencia</h2>

      <div class="logos">
      <%= link_to root_path do %>
        <%= image_tag "logosreal.png",  :style => "width: 450px; max-width: 95%;"%>
        <% end %> 
        </div>
        <ul id="slider_buttons">
          <a href="#">
            <li class="current"></li>
          </a>
          <a href="#">
            <li></li>
          </a>
          <a href="#">
            <li></li>
          </a>
        </ul>
      

      <ul id="slider">
      
             <li></li>
            <li> </li>
            <li> </li>
      </ul>
     
    </div>
  </section>
    <div class="container">
    <h2 class="title">Album tierra</h2>
      <div class="codrops-top clearfix">
        <a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Tutorials/FourBoxes/"><span>Previous Demo</span></a>
      
      </div>
     
   <div class="content">
        <h2>Lily</h2>
        <div class="grid">
          <figure class="effect-lily">
                <%= image_tag "3.jpg" %>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-lily">
            <%= image_tag "6.jpg" %>
            <figcaption>
              <div>
                <h2>Nice <span>Lily</span></h2>
                <p>Lily likes to play with crayons and pencils</p>
              </div>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div>
  </div>
  </div>
  

</section>


<section id="portafolio">
<div class="wrapper">
   <h2 class="title">Últimos eventos</h2>
   <hr><hr><hr><hr><hr>
   <div class="row">

                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>

</div>

</section>
<section id="contact">
    <div class="wrapperfoot">

           <h2 class="sub-title" style ="color: white;">Contacto</h2>
         <p class="subtitle"> Escríbenos directamente bajo el botón</p>
    
<%=  mail_to "marcela@tierraproducciones.cl", "Enviar email", subject: "Hola Porfavor incluye tu nombre y correo", :class=> "button button_highlight button_large" %>
        <!--<a href="#" class="button button_highlight button_large ">Contacto</a> -->

            

        </div>
</section>


