 <section id="services" class="cf">
    <div class="wrapper">
    <h2 class="title">Servicios</h2>
    <hr><hr><hr><hr><hr>
      <div class="service">
        <h3>Eventos corporativos</h3>
        <p>haskjdisjidsjidjsakdejhebe</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p> Estamos en construcción</p>
        <a href="#" class="button button_highlight button_small">Sepa más</a>
      </div>
      <div class="service">
        <h3>Branding</h3>
        <p>haskjdisjidsjidjsakdejhebe</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p> Estamos en construcción</p>
        <a href="#" class="button button_highlight button_small">Sepa más</a>
      </div>
      <div class="service">
        <h3>Branding</h3>
        <p>haskjdisjidsjidjsakdejhebe</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p>bebehoooolaaaaaestoooesuuna</p>
        <p> Estamos en construcción</p>
        <a href="#" class="button button_highlight button_small">Sepa más</a>
      </div>
    </div>
  </section>

    <section id="past-work">
    <div class="wrapper">
      <h2 class="title">Nuestra experiencia</h2>

      <div class="logos">
      <%= link_to root_path do %>
        <%= image_tag "logosreal.png",  :style => "width: 450px; max-width: 95%;"%>
        <% end %> 
        </div>
        <ul id="slider_buttons">
          <a href="#">
            <li class="current"></li>
          </a>
          <a href="#">
            <li></li>
          </a>
          <a href="#">
            <li></li>
          </a>
        </ul>
      

      <ul id="slider">
      
             <li></li>
            <li> </li>
            <li> </li>
      </ul>
     
    </div>
  </section>



<section id="portafolio">
<div class="wrapper">
   <h2 class="title">Últimos eventos</h2>
   <hr><hr><hr><hr><hr>
   <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image, class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>

</div>

</section>
<section id="contact">
    <div class="wrapperfoot">

           <h2 class="sub-title">Contacto</h2>
         <p class="subtitle"> Escríbenos directamente bajo el botón</p>
      <ul class="fa-ul">
 
  <li><i class="fa-li fa fa-spinner fa-spin"></i></li>
  
</ul>
<%=  mail_to "marcela@tierraproducciones.cl", "Enviar email", subject: "Hola Porfavor incluye tu nombre y correo", :class=> "button button_highlight button_large" %>
        <!--<a href="#" class="button button_highlight button_large ">Contacto</a> -->

            

        </div>
</section>


