<!DOCTYPE html>
<html>
  <head>
    <title>Tierra producciones</title>
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="fonts.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="main.js"></script>

  
    <!-- estilos menu adaptable-->
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">



    <script  src="//use.fontawesome.com/914144e452.js"></script>
    

    <!-- Latest compiled and minified CSS -->
    

<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 


  <!-- estilos boton desplegable-->
   
 
 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
  </head>

  <body>
  

<%= render 'shared/header' %>

   <%= yield %>
<%= render 'shared/socialnetwork' %>
    

 


    
  </body>
</html>




