<!DOCTYPE html>
<html>
  <head>
    <title>Tierra producciones</title>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <%= csrf_meta_tags %>
    
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   
      <!-- <link rel="stylesheet" href="fonts.css"> -->
    <script  src="//use.fontawesome.com/914144e452.js"></script>
    

    <!-- Latest compiled and minified CSS -->
    

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 <script>
   
$(document).ready(main);
 
var contador = 1;
 
function main () {
  $('.menu_bar').click(function(){
    if (contador == 1) {
      $('nav').animate({
        left: '0'
      });
      contador = 0;
    } else {
      contador = 1;
      $('nav').animate({
        left: '-100%'
      });
    }
  });
 
  // Mostramos y ocultamos submenus
  $('.submenu').click(function(){
    $(this).children('.children').slideToggle();
  });
}

 </script>
 <style>
   
 </style>
<style>

header {
 
  z-index: 2500;
  width: 90%;
  position: fixed;
  left:55%;
  margin: 35px auto;
}
</style>
<style>
    


.menu_bar {
  display:none;
}
header nav ul {
  list-style:none;

}

header nav ul li {
  display:inline-block;
  position: relative;
  
 
}

header nav ul li:hover {
  background: none; 
}


header nav ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 20px;

}
header nav ul li:hover a:hover {
    background:#FFA200; 
  }
/*
header nav ul li a span {
  margin-right:10px;
}
*/

/*
header nav ul li:hover .children {
  display:block;
  
}

header nav ul li .children {
  display: none;
  background:#011826;
  position: absolute;
  width: 150%;
  
}

header nav ul li .children li {
  display:block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
  display: block;
}

header nav ul li .children li a span {
  float: right;
  position: relative;
  top:3px;
  margin-right:0;
  margin-left:10px;
}

header nav ul li .caret {
  position: relative;
  top:3px;
  margin-left:10px;
  margin-right:0px;
}

*/
@media screen and (max-width: 700px) {
   

  body {
    padding-top:80px;
  }

  .menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top:0px;
    background:#E6344A;
    
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 30px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: left;
    font-size: 40px;
  }

  header nav {
    /* Por qué no aparece el fondo azul en el nav??*/
    border-radius: 4px 4px 4px 4px;
    background: #023859;
    width: 70%;
    height: calc(32.4% - 70px);
    position: fixed;
    right:100%;
    margin: 35px auto;
    overflow: scroll;
    top: 80px;
  }


  header nav ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
  }

  header nav ul li a {
    display: block;
    color: $white;
 
  }
  header nav ul li:hover a:hover {
    background:#FFA200; 
  }

  .hide {
    display: none;
  }


</style>
 

  </head>

  <body>


<%= render 'shared/header' %>

   <%= yield %>
<%= render 'shared/socialnetwork' %>
    

 


    
  </body>
</html>




