<!DOCTYPE html>
<html>
  <head>
    <title>Tierra producciones</title>

    <script src="https://use.fontawesome.com/914144e452.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
 



  <!-- estilos boton desplegable-->
   

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
  </head>

  <body>
  <!--<section class="seccionToggle">
    <div class="wrap">
      <h2>Próximo evento</h2>
      <p>Parque Bustamante 297 al lado de plaza Italia</p>
      <button>Go!</button>
    </div>
  </section>
  <a href="#" id="btn-toggle" class="btn-toggle">Abrir</a>  -->

  <!--<script src="section.js"></script> -->

<%= render 'shared/header' %>

   <%= yield %>
<%= render 'shared/socialnetwork' %>
    

 




<!-- Contact Section -->

    
  </body>
</html>




